.activities-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.title {
  text-align: center;
  font-size: 2em;
  color: #333;
}

.button-add {
  padding: 5px 10px;
  border: 1px solid #0d0d0e;
  border-radius: 5px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 12px;
  cursor: pointer;
  height: 30px;
}

.button-add:hover {
  background-color: #000000;
  color: #ffffff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  max-height: 80%;
  overflow-y: auto;
}

.activity-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.activity-form .form-group {
  margin-bottom: 15px;
}

.activity-form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.activity-form .form-group input,
.activity-form .form-group textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.activity-form .btn {
  display: block;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 13px;
  cursor: pointer;
  margin-top: 10px;
}

.activity-form .btn-secondary {
  background-color: #6c757d;
}

.activity-form .btn:hover {
  background-color: black;
  color: white;
}

.activity-form .btn-secondary:hover {
  background-color: #5a6268;
}

.table-container {
  max-height: 500px;
  overflow-y: auto;
  margin-bottom: 20px;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f8f8f8;
  font-size: 14px;
}

td {
  background-color: #fff;
  font-size: 13px;
}

td .button-activities {
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 0.9em;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  color: #007bff;
}

td .button-activities:hover {
  color: #0056b3;
}
